<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
<h1 class="btitle"><%= title%></h1>
<div class="bheader">
	 <ul class="clearfix">
	 	<li><a href="/">主页</a></li>
	 	<li><a href="/login">登陆</a></li>
	  <li><a href="/reg">注册</a></li>
	 </ul>
</div>
                  