
<%- include header %>

<form action="" method="post">
	<ul>
		<li><span>用户名:</span><input type="text" name="" id="" value="" class="logname"/></li>
		<li><span>密码:</span><input type="password" name="" id="" value="" class="logpd" /></li>
		
	</ul>	
	
	<input type="button" value="登陆" class="login"/>
	<span class="logerror"></span>
</form>
<%- include footer %>
