<%- include header %>

<form  method="post">	
	<ul>
		<li><span>用户名:</span><input type="text" value="" name="name"/></li>
		<li><span>密码:</span><input type="password" value="" name="password"/></li>
		<li><span>确认密码:</span><input type="password" value="" name="password-repeat"/></li>
		<li><span>邮箱:</span><input type="text" value="" name="email"/></li>
		<input type="submit" name="" id="" value="" />
	</ul>
</form>


<%- include footer %>