<%- include header %>

<form  method="post">	
	<ul>
		<li><span>用户名:</span><input type="text" value="" name="name" class="regname"/></li>
		<li><span>密码:</span><input type="password" value="" name="password" class="regpd"/></li>
		<li><span>确认密码:</span><input type="password" value="" name="repassword" class="regrepd"/></li>
		<li><span>邮箱:</span><input type="text" value="" name="email" class="regemail"/></li>
		<input type="button" name="" id="regsub" value="注册" />
		<span class="reerror"></span>
	</ul>
</form>


<%- include footer %>