<%- include header %>

<form action="/upload" method="post" enctype="multipart/form-data">
	
	<input type="file" name="file1" id="" value="上传" />
	<input type="file" name="file2" id="" value="上传" />
	<input type="file" name="text" id="" value="上传" />
	
	<input type="submit" name="" id="" value="上传" />
	 
	
	
</form>
<%- include footer %>