<%- include header%>
<div class="usertext">
	<div>
	<h3><span>标题</span></h3>
	<p>
		<span>作者:</span><span>11</span>
	</p>
	<p>
		<span>日期:</span><span>222</span>
	</p>
	<p>
		内容
	</p>
</div>
</div>

<script type="text/javascript">
	$(function() {
		$.ajax({
			type: "get",
			url: "/api/"+sessionStorage.name,
			async: true,
			success: function(data) {
				data.reverse();
				var a=5
				var str='';
				for(var i=0;i<data.length;i++){
					if(data[i].url){
						str+='<div class="maintitle"><h3><span>标题</span><a href="/u/'+data[i].time+data[i].title+'">' + data[i].title + '</a></h3>\
			<p><span>作者:</span><span>' + data[i].name + '</span>\
			</p>\<p><span>日期:</span><span>' + addzero(data[i].time) + '</span></p>\
			<p>' + data[i].post + '</p>\
			<p><img src="'+ data[i].url.substring(6)+'"></p>\
			</div>'
						
					}else{
						str+='<div class="maintitle"><h3><span>标题</span><a href="/u/'+data[i].time+data[i].title+'">' + data[i].title + '</a></h3>\
			<p><span>作者:</span><span>' + data[i].name + '</span>\
			</p>\<p><span>日期:</span><span>' + addzero(data[i].time) + '</span></p>\
			<p>' + data[i].post + '</p>\
			</p>\
			</div>'
					}
					
					
				}
				$('.usertext').html(str);

			}

		});

	})
</script>
<%- include footer%>