
*{
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
.clearfix:after{
	display: block;
	content: '';
	clear: both;	
}
.clearfix{
	zoom: 1;
}

.bheader a {
  color: #00B7FF;
  text-decoration: none;
}
.bheader ul li{
	float: left;
}
